@use "resets";

body {
  background: linear-gradient(to bottom right, #6995ca, #1e63d1);
  width: 1024px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, sans-serif;
  color: white;
}

.cont-main {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
